<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <meta charset="UTF-8">

   <title>Form for a comands</title>

</head>
<body>
<header>
   <menu>
      <li><a name='index' href="">Main</a></li>
      <li><a href="calc/">Сalculator</a></li>
   </menu>
</header>
<div>
   <br>
   {% for l in text %}
   <ul>
     <li>{{ l }}</li>
   </ul>
   {% endfor %}
   
   
   <form action="/omlet/" method="post">
      {% csrf_token %}
      {{form}}
       <label for="command">Команда: </label>
       <input id="command" type="text" name="command" value="{{ com }}">
       <input type="submit" value="OK">
   </form>
   <div><h2>{{ com }}</h2></div>
    <div>{{ lists}}</div>
</div>
</body>
</html>